@charset "UTF-8";

body {
    font-family: 'Noto Serif JP', serif;
    color: #646464;
    background-image: url(../img/bg.png);
    background-size: cover;
}

* {
    box-sizing: border-box;
  }
  

/*----- 共通項 -----*/
.section-inner {
    width: 1080px;
    margin: 0 auto;
}

.section-wrap {
    padding: 60px 0;
}

.section-ttl {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/*----- Header -----*/
.header {
    padding-top: 40px;
    background-color: #FFFAF0;
}

.header-logo {
    width: 300px;
    margin: 0 auto;
}

.header-nav {
    margin-top: 40px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-item + .nav-item {
    margin-left: 40px;
}

.nav-item  a {
    text-decoration-line: none;
}

/*----- kv -----*/
.kv {
    background-color: #FFFAF0;
    padding: 60px 0;
}

.kv-img {
    height: 480px;
}

.kv-img img {
    height: 100%;
    object-fit: cover;
}

/*----- concept -----*/

#concept{
    color: #646464;
}

.concept-copy {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.concept-txt {
    text-align: center;
    margin-top: 32px;
}

/*----- items -----*/
#items {
    color: #646464;
}

.items-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.items-item:nth-child(even) {
    flex-direction: row-reverse;
}

.items-img {
    max-width: 512px;
    width: 48%;
}

.items-content {
    max-width: 520px;
    width: 48%;
}

.items-ttl {
    font-size: 20px;
}

.items-price {
    font-weight: bold;
    margin-top: 8px;
}

.items-txt {
    margin-top: 24px;
}

.items-btn {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    border: 1px solid #ccc;
    width: 160px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top: 30px;
}

.items-btn:hover {
    background-color: #000;
    color: #fff;
}

/*----- shop -----*/
#shop {
    background-color: #FFFAF0;
}

.shop-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.shop-img {
    max-width: 512px;
    width: 40%;
}

.shop-content {
    max-width: 520px;
    width: 48%;
}

.shop-table {
    width: 100%;
}

.shop-row {
    border-bottom: 1px solid #000;
}

.shop-head, .shop-data {
    padding: 16px 0;
}

/*----- contact -----*/
.contact-wrap {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  height: 100%;
}


#name,
#email {
  height: 35px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  border: 1px solid #757575;
  cursor: text;
}

#inquiry {
  height: 150px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  border: 1px solid #757575;
  cursor: text;
}

span {
  color: red;
}

#submit {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    border: 1px solid #ccc;
    width: 160px;
    line-height: 40px;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: #000;
    color: #fff;
}

/*----- footer -----*/
.footer {
    background-color: #FFFAF0;
    height: 100px;
}

.footer-cr {
    display: block;
    text-align: center;
    padding: 40px 0;
}
